.button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  letter-spacing: 0.8px;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  border: 1px solid transparent;
  color: #212121;
  background-color: white;
}

.black {
  color: #212121;
  border: 1px solid #212121;
}

.black:hover {
  background-color: #212121ee;
  color: white;
}

.red {
  border: 1px solid #78281F;
  color: #78281F;
}

.red:hover {
  background-color: #78281Fee;
  color: white;
}

.green {
  border: 1px solid #1B5E20;
  color: #1B5E20;
}
.green:hover {
  background-color: #1B5E20ee;
  color: white;
}

.orange {
  border: 1px solid #D84315;
  color: #D84315;
}
.orange:hover {
  background-color: #D84315ee;
  color: white;
}
