.content {
  margin-top: 1rem;
  width: 100%;
  max-width: 40rem;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.option {
  margin: 1rem 0 0 0;
  border-radius: 10px;
  background-color: #21212110;
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.bodyOption {
  display: none;
}

.active {
  display: flex;
}

.headerOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
}

.formUpdate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftPosition {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.inputForm {
  height: 2rem;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #212121;
}

.inputForm:focus{
  outline: 0;
}
.lineInput {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonActive {
  border: 0;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: #1B5E20;
  color: white;
}

.buttonInactive {
  border: 0;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: #78281F;
  color: white;
}

@media only screen and (max-width: 680px) {
  .content {
    max-width: 95%;
  }
}
