.content {
	max-width: 90%;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-top: 2rem;
	gap: 1rem;
}

.body {
	border: 1px solid #21212140;
	border-radius: 5px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width:100%;
}

.headerBody{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.headerBody >h2{
	color: #212121;
	margin: 0;
	font-size: 2rem;
}

.headerBody > span {
	color: #212121dd;
	margin: 0;
}

.subtitle {
	border-top: 1px solid #21212140;
	margin: 0;
	margin-top: 1rem;
	width: 100%;
	padding-top: 1rem;
	font-size: 1.2rem;
}
.autorHeader{
	color: #21212190;
}

.lineInput{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.itemTableData{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.itemTableData > p {
	margin: 0;
	word-wrap: break-word;
}

.itemTableData > p > span {
	font-weight: bold;
	word-wrap: break-word;
}

.itemTableButtons{
	display:flex ;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 1rem;
	height:100%;
	width:100%;
}

.messageEdit{
	padding-bottom: 1rem;
}

.input{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: 1rem;
}
.input > span{
	font-size:0.95rem;
	color: #212121dd;
}

.doubleInput {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.table{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: 1rem;
}

.table > .itemTable:nth-child(odd) {
	background-color: #f2f2f2;
}

.itemTable {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
  align-items: center;
	width: 100%;
	padding: 0.5rem;
	border-radius: 10px;
}

.editTable{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem 0 0.5rem 0;
}

.options {
	width: 100%;
	height: auto;	
	padding: 0;
}

.options > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list{
	overflow: hidden;
	border-radius: 10px;
}

.itemList {
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	background-color: #f1f1f1;
	word-wrap: break-word;
	padding: 0.5rem 0.8rem 0.5rem 1rem;
}

.activeOption {
	background-color: #212121;
	color: white;
}
.buttonSlide{
	display: flex;
	flex-direction: row;
	width: 2.5rem;
	height: 1.5rem;
	background-color: #212121;
	border-radius: 50px;
	align-items: center;
	justify-content: flex-start;
}

.activeButton{
	background-color: green;
	justify-content: flex-end;
}

.buttonSlideClick{
	margin: 0 5px;
	display: flex;
	background-color: white;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
}

.boxBody{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top:1rem
}


@media screen and (max-width: 800px) {
	.content {
		grid-template-columns: 1fr;
	}
}

