.services {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  width: 100%;
  min-height: 20rem;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services > h2 {
  color: white;
  letter-spacing: 2px;
  font-size: 35px;
}

.cards {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 1600px) {
  .cards {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    width: 90%;
    grid-template-columns: 1fr;
  }
}
