.gridContainer{
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 90%;
}

@media only screen and (max-width: 1400px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}