.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35rem;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
}

.header {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #212121;
  align-items: center;
}

.headerImg {
  width: 2rem;
  margin-right: 0.5rem;
}
.headerText {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.headerText > h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.headerText > span {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.body {
  width: 90%;
  height: 85%;
  overflow: hidden;
  overflow-wrap: break-word;
}

.aling {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.aling:first-child {
  padding-right: 0.5rem;
}

.body > h4 {
  letter-spacing: 1.1px;
}

.footer {
  -webkit-box-shadow: 0px 10px 13px -7px #FFFFFF,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px -30px 60px 0px #FFFFFF, 0px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 90%;
  height: 15%;
  border-top: 1px solid #212121;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
