.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 5px;
  border: 1px solid #21212130;
  margin-top: 1rem;
}

.header {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #21212180;
  align-items: center;
}

.headerImg {
  width: 2rem;
  margin-right: 0.5rem;
}
.headerText {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.headerText > h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.headerText > span {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.body {
  width: 100%;
  overflow-wrap: break-word;
}

.body > h4 {
  letter-spacing: 1.1px;
}

.share {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.tags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.tags > p {
  margin-bottom: 0;
  margin-top: 0.3rem;
  padding: 5px 8px 5px 8px;
  border-radius: 7px;
  background-color: #cb4335;
  color: white;
}

.footer {
  width: 100%;
  border-top: 1px solid #21212180;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share > a {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.imagePost {
  border-radius:10px;
  width: 100%;
  min-height: 20rem;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  margin-bottom: 1rem;
}
