.card{
  position: relative;
  height: 300px;
  width: 100%;
  min-width: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
  left: 0;
  height:30%;
  background-color: #ffffffaa;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.hover:hover {
  height: 50%;
  background-color: #ffffffDD;
}

.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.title{
  color: #212121;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.5px;
  word-break: break-word;
}

.showMore{
  letter-spacing: 0.8px;
  text-align: right;
  border-bottom: 1px solid #212121ee;
}
