.header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 6rem;
  background-color: #212121;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2rem;
  z-index: 999;
}
.links {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  color: white;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
}

.leftHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.imgPrincipal {
  width: 14rem;
  cursor: pointer;
}

.slidebar {
  top: 0;
  right: -100%;
  width: 30rem;
  height: 100vh;
  position: fixed;
  display: flex;
  background-color: #212121;
  z-index: 1000;
  transition: 1s;
  flex-direction: column;
}

.active {
  right: 0;
}

.headerSlidebar {
  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.SlideElement {
  display: flex;
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid #424242;
  color: white;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  align-items: center;
  padding-left: 1rem;
  gap: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .slidebar {
    width: 100%;
  }
  .links{
    display: none;
  }
}
