.Message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 4rem;
  background-color: #212121;
  color: white;
  gap: 0.5rem;
  font-size: 22px;
  padding: 1rem;
}

.MessageText{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.MessageText > span{
  padding-bottom: 3px;
}

.mainPage {
  position: relative;
  background: #212121;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.mainPage:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.25;
  background-image: url("../public/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}

.dataPage {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1 auto;
}

.header {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.headerImage {
  min-width: 12rem;
  width: 12rem;
  cursor: pointer;
}

.menu {
  display: none;
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Links > a {
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: 0.23s;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.8px;
}

.Links > a:hover {
  border-bottom: 2px solid #ffffffee;
}

.post {
  min-height: 60vh;
  position: relative;
  max-width: 90%;
  display: flex;
  align-items: center;
}

.arrow{
  width: 3rem;
  height: 3rem;
}

.showMore{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.postText{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid white;
  padding-left: 2.5rem;
}

.postText >  h1 {
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
  text-align: justify;
}
.postText >  p {
  text-align: left;
  width: 70%;
  font-weight: 500;
  color: white;
  letter-spacing: 1.2px;
}


.postFlex {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.postImg {
  max-width: 22rem;
}

@media only screen and (max-width: 800px) {
  .header {
    justify-content: space-between;
  }
  
  .postText{
    border-left: 1px solid transparent;
    width: 90%;
    padding-bottom: 2rem;
  }
  .postText > p{
    width: 80%;
  }

  .postImg {
    max-width: 14rem;
  }

  .menu {
    margin-left: 1rem;
    display: flex;
  }
  .Links {
    display: none;
  }

  .arrow{
    width: 2rem;
    height: 2rem;
  }
}
