.content {
  position: relative;
  display: grid;
  width: 100%;
  max-width:98%;
  margin-top: 1rem;
  gap: 2rem;
  grid-template-columns: 1fr 3fr 1fr;
}

.construct{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #626567EE; 
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  z-index: 2;
  border-radius: 0.5rem;
}

.infinity{
  width: 100%;
  margin-top: 1rem;
  height: 6rem;
  border: 1px solid #21212130;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  position: relative;
  width: 100%;
  height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.filterAutor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
}

.filtersResponsive {
  display: none;
}

.search {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.select {
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid white;
  color: white;
  font-size: 22px;
}

.option {
  color: #212121;
}

.noPosts {
  font-size: 2rem;
  word-wrap: break-word;

}

@media only screen and (max-width: 900px) {
  .filters {
    display: none;
  }

  .search{
    display: none;
  }

  .filtersResponsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #212121;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.3rem;
  }

  .content {
    grid-template-columns: 1fr;
  }
}
